<h1>Editing Event</h1>

<%= form_for ([@event, @comment]) do |f| %>
  <%= f.label :comment , "Type your comment: " %>
  <%= f.text_field :comment,class:"form-control" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  </br>
  <%= f.submit "Edit a Comment" ,class:'btn btn-primary' %>
<% end %>